@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
  background-image: url("https://img.freepik.com/free-vector/geometric-background-with-pastel-colors_91008-278.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.App {
  font-size: 20px;
  margin: 0 400px;
}
.label{
  font-size: 25px;
 
}
span{
  color: red;
}
.btn{
  margin: 50px 180px;
  font-size: 20px;
}
h1{
  text-align: center;
  margin: 20px;
  font-family: 'Acme', sans-serif;
}
